div {
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(6, 223, 252, 0.28);
  padding: 5px 5px;
  margin: 8px 10px;
  border-radius: 5px;
}
.tahoma-font {
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Tahoma, sans-serif;
}

.deal-text-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.61rem;
  margin-bottom: 8px;
  text-align: left;
}

.deal-text-2 {
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 3px;
  text-align: left;
  font-style: italic;
}
.course {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.course-title {
  font-size: 1.125 rem;

  font-weight: 700;
  margin-bottom: 0;
  line-height: 1px;
}
.course-sub-title {
  margin-top: 14px;
  color: rgb(100, 100, 100);
}
.course-details {
  width: 300px;
  line-height: 22px;
}
.get-started-bttn {
  border: none;
  color: white;
  background-color: rgb(3, 161, 3);
  font-size: 1.3rem;
  padding: 12px 16px;
  border-radius: 6.2px;
  cursor: pointer;
}

.apple-work {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
}

.apple-work-sub-title{
    font-size: 1.1rem;
}
.apple-work-title{
    font-size: 1.675rem;
    font-weight: 700;
}
.apple-work-learn-more {
  text-decoration: none;
  color: rgb(58, 108, 199);
}
.apple-work-learn-more:visited {
    color: rgb(58, 108, 199);
}
