a {
  color: rgb(0, 133, 133);
}
h4 {
  color: rgb(0, 118, 0);
}

.amazon-button-1 {
  font-weight: 500;
  cursor: pointer;
  width: 110px;
  height: 32px;
  border-radius: 13.5px;
  border: none;
  background-color: rgb(255, 216, 20);
  transition: all 0.25s;
  margin-right: 10px;
}

.amazon-button-1:hover {
  width: 116px;
  height: 38px;
  box-shadow: 5px 4px 10px rgba(128, 128, 128, 0.4);
}

.amazon-button-1:active {
  background-color: rgb(227, 189, 0);
  width: 105px;
  height: 26px;
}

.amazon-button-2 {
    font-weight: 500;
    cursor: pointer;
    width: 110px;
    height: 32px;
    border-radius: 13.5px;
    border: none;
    background-color: rgb(255, 164, 28);
    transition: all 0.25s;
    margin-right: 10px;
  }
  
  .amazon-button-2:hover {
    width: 116px;
    height: 38px;
    box-shadow: 5px 4px 10px rgba(128, 128, 128, 0.4);
  }
  
  .amazon-button-2:active {
    background-color: rgb(225, 135, 0);
    width: 105px;
    height: 26px;
  }
  