body {
  background-color: rgb(210, 240, 240);
}

hr {
 border: dotted rgb(208, 208, 208) 6px;
 border-bottom: none;
 width: 8%;
 background-color: rgb(210, 240, 240);
}

h1,h3{
   color: rgb(10, 161, 221);
}